body {
	background-color: DarkSlateGrey ;
}
h2 {
	color:  #ffe6e9 ;
}
.quotes {
	/*font-family:  Comic Sans MS;*/
	font-family: fantasy;
	color: white;
	/*font-size: 25px;*/ 
	font-weight:bold;
	/*font-style: italic;*/
	  font-style: oblique;
}
input {
  border:none; 
  background-color:snow; 
  
  width: 100%;
  solid gray;
   margin-top: 7px; 
   border-bottom: 1px; 
    height: 40px
}
